body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #0D0D0D;
	word-wrap: break-word;	
}

.content {	
	background: #F9F9F9;	
	margin: 0 auto;
	border-top: 2em solid #0D0D0D;
	border-bottom: 2em solid #0D0D0D;
	max-width: 45em;
}

h1, h2 {
	font-family: 'Roboto Slab', serif;
}

input, .button {
	background: white;
	padding: 0.35em 0.5em;
	border: 0.15em solid #310a6f;
	border-radius: 0.45em;
}

.accent {
	color: #4b10a7;
}

.button {
	cursor: pointer;
	color: white;	
	background: #4B10A7;
	font-weight: 700;	
}

.description,
#jamResults #pastJams,
#jamResults .controls {
	padding: 0 1em;
}

/* Description Section */
.description {
	padding-bottom: 1.25em;
}

.description h1 {
	text-transform: uppercase;
	padding-top: 0.5em;
	margin-top: 0;
	margin-bottom: 0;
}	

	.description h1:first-letter {
		color: #4b10a7;
		font-size: 1.5em;		
	}	

.description .details {
	margin-top: 0.25em;	
}

.description #userForm {
	margin: 1em 0;	
	padding: 0.5em;
	background: #FEC835;
	border: 0.15em solid #FEC835;
	border-radius: 0.25em;
}

	.description #userForm p {
		margin-top: 0;		
	}

	.description #userForm button {
		padding-left: 2em;	
		padding-right: 2em;	
	}

.description .sign-up {
	font-size: 0.90em;
	margin-top: 1.5em;
}

/* Past Jams Section */
#jamResults {
	/* display: none;  /* REMOVE THIS LATER */
}

#jamResults h2 {	
	color: white;	
	background: #4B10A7;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0;
	border-top: 0.4em solid #FEC835;
}

	#jamResults h2 a {	
		text-decoration: none;
		color: #FEC835;
	}

ul#pastJams .jam-caption,
ul#pastJams .jam-link a {
	text-decoration: none;
	font-size: 0.90em;
}

ul#pastJams {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#pastJams li {
	overflow: hidden;
	padding: 1em 0;
	border-bottom: 0.05em solid black;
}

ul#pastJams .jam-avatar {
	float: left;	
	max-width: 8.4375em;
	max-height: 8.4375em;
	/*margin-right: 1em;*/
}

ul#pastJams .jam-details {
	margin-left: 9.8125em;
}

	ul#pastJams p {
		margin: 0 0 0.4em 0;
	}

	ul#pastJams .jam-title,
	ul#pastJams .jam-artist {
		font-weight: 700;
	}

	ul#pastJams .jam-title {
		font-size: 1.5em;
		margin-bottom: 0;
	}

	ul#pastJams .jam-artist {
		font-size: 1.25em;
	}

	ul#pastJams .jam-caption {		
		padding-left: 0.5em;
		border-left: 0.25em solid #B3B3B3;
	}
	
	ul#pastJams .jam-link {
		margin-top: 1.25em;				
	}

/* Jam Results Controls Section */
#jamResults .controls {
	overflow: hidden;
	padding-top: 1em;
	padding-bottom: 1em;
}

#jamResults .controls i {
	margin: 0 0.5em;
}

#jamResults .prev-button,
#jamResults .next-button {
	margin: 1em 0 1em 0;
	padding: 0.5em 3em;
}

#jamResults .prev-button {
	float: left;
}

#jamResults .next-button {
	float: right;
}

/* Attribution and copyright */
.attribution {
	font-size: 0.75em;
	padding: 1em;
	text-align: center;
}

@media only screen and (max-width: 700px) {
	ul#pastJams .jam-avatar {
		max-width: 7.1875em;
		max-height: 7.1875em;
	}

	ul#pastJams .jam-details {
		margin-left: 8.1875em;
	}

		ul#pastJams p {
			margin: 0 0 0.15em 0;
		}
}

@media only screen and (max-width: 450px) {
	.user-input {
		width: 65%;
	}

	#userForm #userForm-button {
		padding-left: 0;
		padding-right: 0;
		width: 20%;
	}

	#jamResults h2 {
		font-size: 1.3em;
	}

	ul#pastJams .jam-avatar {
		display: none;
	}

	ul#pastJams .jam-details {
		margin-left: 0;
	}

	ul#pastJams .jam-title {
		font-size: 1.3em;
		margin-bottom: 0;
	}

	ul#pastJams .jam-artist {
		font-size: 1.1em;
	}

	ul#pastJams .jam-date {
		font-size: 0.9em;
	}

	ul#pastJams .jam-caption,
	ul#pastJams .jam-link {		
		font-size: 0.85em;
	}

	#jamResults .prev-button,
	#jamResults .next-button {
		margin: 1em 0 1em 0;
		padding: 0.35em 2em;
	}
}

@media only screen and (max-width: 345px) {
	.description h1 {
		font-size: 1.75em;
	}

	#jamResults .prev-button,
	#jamResults .next-button {
		margin: 0.5em 0 1em 0;
		padding: 0.25em 1.5em;
	}
}